{
  "presets": ["es2015", "stage-1", "flow"],
  "plugins": ["meteor-imports", "transform-runtime", "transform-decorators-legacy", "flow-runtime"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
